<div
    id="introduction"
    class="bg-gray-100 px-6 sm:px-10 lg:px-80 py-24 sm:py-28 lg:py-16 space-y-8"
>
    <h1 class="text-3xl text-center sm:text-4xl font-bold text-gray-800">
        Introduction
    </h1>

    <div class="space-y-4">
        <div
            *ngFor="let faq of faqList; let i = index"
            class="border rounded shadow"
            [id]="'faq-' + i"
        >
            <button
                class="w-full text-left px-4 py-2 font-semibold bg-gray-100 hover:bg-gray-200 flex justify-between items-center"
                (click)="toggleAccordion(i)"
            >
                {{ faq.question }}
                <span
                    class="transform transition-transform"
                    [ngClass]="{ 'rotate-180': activeIndex === i }"
                >
                    &#9660;
                </span>
            </button>

            <div
                class="px-4 py-2 text-gray-700"
                [class.hidden]="activeIndex !== i"
            >
                <p>{{ faq.answer }}</p>
                <ul *ngIf="faq.list" class="list-disc pl-5 mt-2">
                    <li *ngFor="let item of faq.list">{{ item }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
