@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animation-slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
}

.animation-slide-in-right {
    animation: slideInRight 1s ease-out forwards;
}
